@media screen and (max-width: 368px) {
  .container {
    width: 300px;
    height: 400px;
  }
  .isi-list-user {
    height: 300px;
  }
}
@media screen and (min-width: 368px) {
  
}
@media screen and (min-width: 768px) {
}